
<div id="banner">
    <div class="banner-content">
        <div>
            {% if section.settings.image != blank %}
                {{ section.settings.image | image_url }}
            {% else %}
                <img src="{{'../assets/banner-pic.jpg' | asset_url }}"/>
            {% endif %}
        </div>
        <div class="banner-text">
            {% if section.settings.headline != blank %}
                <h2>{{ section.settings.headline }}</h2>
            {% else %}
                <h2>Golden</h2>
            {% endif %}
            {% if section.settings.blurb != blank %}
                <p>{{ section.settings.blurb }}</p>
            {% else %}
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            {% endif %}
            {% if section.settings.link != blank %}
                <a href="{{ section.settings.link }}">
                    {% if section.settings.btn-txt != blank %}
                        <button>{{ section.settings.btn-txt }}</button>
                    {% else %}
                        <button>SHOP ALL</button>
                    {% endif %}
                </a>
            {% else %}
                <a href="./collections/">
                    {% if section.settings.btn-txt != blank %}
                        <button>{{ section.settings.btn-txt }}</button>
                    {% else %}
                        <button>SHOP ALL</button>
                    {% endif %}
                </a>
            {% endif %}
        </div>
    </div>
    <div class="cloud cloud-one"></div>
    <div class="cloud cloud-two"></div>
    <div class="cloud cloud-three"></div>
</div>

<style>

#banner {
    height: calc(100vh - 185px);
    width: 100vw;
    min-height: 500px;
    position: relative;
    overflow-x: hidden;
}

.banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content img {
    height: 80%;
    border: 2px solid black;
    box-shadow: 5px 5px black;
    position: relative;
    left: clamp(10px, 10%, 100px);
}

.banner-text {
    width: clamp(10px, 40%, 400px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    left: clamp(10px, 10%, 50px);
}

.banner-text h2 {
    font-size: clamp(40px, 7vw, 80px);
    font-style: italic;
    margin-bottom: 20px;
    padding: 20px 50px;
    border-radius: 15px;
    background-image: url({{'../assets/gradient.jpeg' | asset_url}});
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    right: 100px;
}

.banner-text p {
    font-size: 22px;
    width: 80%;
    margin-left: 30px;
}

.cloud {
    height: 100px;
    width: 600px;
    background-image: url({{'../assets/gradient.jpeg' | asset_url}});
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    border-radius: 15px;
}

.cloud-one {
    top: 50px;
    left: 1100px;
}

.cloud-two {
    top: 350px;
    right: 1150px;
}

.cloud-three {
    top: 75%;
    left: 1300px;
}

</style>


{%  schema  %} 

    {
        "name": "Banner",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Featured Image"
                },
                {
                    "type": "text",
                    "id": "headline",
                    "label": "Headline"
                },
                {
                    "type": "text",
                    "id": "blurb",
                    "label": "Blurb"
                },
                {
                    "type": "text",
                    "id": "btn-txt",
                    "label": "Button Text"
                },
                {
                    "type": "text",
                    "id": "link",
                    "label": "Button Link"
                }
            ]
    }
    
    {% endschema %}