
<div class="featured-article">
    <div class="featured-article-img"></div>
    <div class="featured-article-text">
        {% if section.settings.title != blank %}
            {% if section.settings.link != blank %}
                <a href={{ section.settings.link }} target="_blank">
                    <h1>{{ section.settings.title }}</h1>
                </a>
            {% endif %} 
        {% else %}
            <h1>Article Headline</h1>
        {% endif %}
        {% if section.settings.blurb != blank %}
            <p>{{ section.settings.blurb }}</p>
        {% else %}
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        {% endif %}
    </div>
</div>

<style>

.featured-article {
    padding-bottom: 60px;
    margin: 30px auto;
    border-bottom: 2px solid black;
    margin-bottom: 60px;
}

.featured-article-text {
    margin-top: 5vw;
}

.featured-article a:hover {
    text-decoration: underline;
}

.featured-article h1 {
    text-align: start;
    font-size: clamp(10px, 8vw, 80px);
    margin: 0;
}

.featured-article p {
    font-size: clamp(1rem, 3.5vw, 1.2rem);
    line-height: 1.5;
    margin-top: 20px;
    max-width: 500px;
}

.featured-article-img {
    width: 100%;
    height: 400px;
    background-image: {% if section.settings.image != blank %}
                        url({{ section.settings.image.src | img_url: 'master' }})
                      {% else %}
                        url({{'../assets/gradient.jpeg' | asset_url}})
                      {% endif %};
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 600px) {

    .featured-article {
        display: flex;
        align-items: flex-start;
    }

    .featured-article-img {
        width: 85%;
    }

    .featured-article h1, .featured-article p {
        margin-left: 15%;
    }
}

</style>


{%  schema  %} 

{
    "name": "Featured Article",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Display Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "text",
                "id": "blurb",
                "label": "Blurb"
            },
            {
                "type": "text",
                "id": "link",
                "label": "Link"
            }
        ]
}

{% endschema %}